.App {
  text-align: center;
  position: relative;
}

.indic {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 7px 10px;
  background: #1abc9c;
  color: #fff;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}
